<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/sign-in/" />

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alfa+Slab+One&family=Syne+Mono&display=swap"
    rel="stylesheet" />
  <style>
    body {
      font-family: 'Syne Mono', monospace;
    }
    .otpval{
        display: none;
    }
    #otplnk{
      text-decoration: none;
    }

    #backgroundImg {
      background-image: url("../static/bg-3.jpg");
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  </style>

  <title>GeniusAxis</title>
</head>

<body id="backgroundImg" class="d-flex flex-column align-items-center justify-content-center">

  <div>
    <div class="m-4 p-4">
      <h1>Please Enter your OTP</h1>
    </div>
    <div class="m-4 p-4 border border-warning border-3 rounded-3">
      <form name="otpAuth">
        {{!-- <div class="mb-3"> --}}
            <button id="value" name="otpvalue" class="otpval" value="{{val}}">{{val}}</button>
          <input type="password" class="form-control" name="otp1" id="otp1" />
        {{!-- </div> --}}
        {{! <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" />
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div> }}
        <div class="d-flex justify-content-center">
          <button id="verifyBtn" type="submit" class="btn btn-primary my-3 w-50"><a id="otplnk" class="text-light" href="#">Submit</a></button>
        </div>
      </form>
    </div>
  </div>

 
  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->

     <script>
             const k = document.getElementById('value');
             const otp = document.getElementById('otp1');
          const verifyBtn = document.getElementById('verifyBtn');
          verifyBtn.addEventListener("click", verify);

          function verify(){
              console.log("Hii");
            console.log(otp.value);
            console.log(k.value);
             if(otp.value === k.value){
                 console.log("Hello")
                
               otplnk = document.getElementById('otplnk')
               console.log("Heyy")
               otplnk.setAttribute("href", "/signup");
             }
             else{
               alert("Incorrect OTP")
             }
          }
  </script>
</body>

</html>